@font-face {
  font-family: "Rubikasd";
  src: url("fonts/Rubik-VariableFont_wght.ttf");
  /* src: url(http://www.example.org/mycustomfont.ttf) format("truetype"); */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Rubikasd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
